<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gprsmon/src/main/java/com/cadre/wvds/gprsmon/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cadre.wvds.gprsmon.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="gprsmon"/>
</launchConfiguration>
